body {
  background: #131c1d;
  color: white;
  font-family: Titillium Web, sans-serif;
  position: relative;
}

header {
  text-align: center;
  padding: 30px 0;
  font-size: 32px;
}

#two {
  padding-top: 30px;
  display: flex;
  justify-content: center;

}

#count-wrapper {
  width: 80%;
  background: #999999;
  border: 1px solid white;
  padding: 30px 0;
}

p {
  text-align: center;
  font-size: 24px;
}

#three {
  margin: 2px 30px 40px 30px;
  background: #303131;
  border: 1px solid white;
  max-height: 366px;
  overflow: scroll;
}

.sale-item {
  margin: 10px;
  display: flex;
  align-items: center;
}

.sale-pic {
  width: 100px;
  height: 100px;
  background: white;
}

.sale-desc {
  margin: 10px 5%;
}

hr {
  width: 90%;
}

#four {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

article {
  height: 100px;
  width: 100px;
  background: red;
}

#floater {
  position: fixed;
  right: 0;
  top: 70%;
  background: purple !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  text-align: center;
}

footer {
  text-align: center;
  padding: 30px;
  background: #232727;
}